<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>List authors</h1>
<table border="1">
<tr>
    <th>Username</th>
    <th>Email</th>
    <th>nb books</th>
    <th>edit</th>
    <th>delete</th>
</tr>

      <tr>  {% for a in author %} </tr>
        <td>{{ a.username }}</td>
        <td> {{ a.email }}</td>
    <td>{{ a.nb_books }}</td>
    <td><a href="{{ path('app_edit', {'id': a.id}) }}">edit</a></td>
    <td><a href="{{ path('app_delete', {'id': a.id}) }}">delete</a></td>


    {% endfor %}

</table>
</body>
</html>